.navigation_bar{
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 100%;
    font-family: "Bebas Neue", sans-serif;
    border-bottom: 2px solid #ffffff ;
}

#title{
    width: 20%;
    
}

#new_note{
    margin-left: 100px;
    margin-right: 100px;    
    text-decoration: none;
    color: #ffffff;
}

#calendar{
    margin-right: 100px;
    text-decoration: none;
    color: #ffffff;
}

#user{
    margin-left: auto;
    justify-self: end;
    text-decoration: none;
    color: #ffffff;
}