.navigation_bar{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    height: 50px;
    font-family: "Bebas Neue", sans-serif;
    font-size: 30px;
    border-bottom: 2px solid #ffffff ;
}

.left-partof-navbar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 30%;
}

#title{
    width: 70%;
    margin-left: 10%;
}

#new-note{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10%;
    height: 35px;
    width: 35px;
    text-decoration: none;
    color: #ffffff;
}

#new-note:hover{
    border-radius: 50%;
    background-color: #ffffff;
    color: #09090B;
}

#calendar{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 7%;
    margin-right: 100px;
    text-decoration: none;
    color: #ffffff;
}

#calendar:hover{
    border-radius: 10px;
    background-color: #ffffff;
    color: #09090B;
}


#user{
    margin-left: auto;
    margin-right: 20px;
    justify-self: end;
    text-decoration: none;
    color: #ffffff;
}

.work-area{
    display: grid;
    grid-template-columns: 30% 70%;
    grid-auto-rows: 100%;
    height: 100%;
}
.left-bar{
    height: 100%;
    border: 2px solid #ffffff;
    border-top: none;
}

.right-bar{
    height: 100%;
    border: 2px solid #ffffff;
    border-left: none;
    border-top: none;
}