.login-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
    margin-left: 35%;
    margin-right: 35%;
    height: 80%;
    border-radius: 40px;
    font-family: "Bebas Neue", sans-serif;
    background-color: #09090B;
    border: 2px solid #ffffff;
}

#log-image{
    width: 20%;
    height: 15%;
    margin-top: 5%;
}
#username-text{
    margin-top: 10%;
    font-size: 25px;
}
#username-field{
    background-color: #09090B;
    color: #ffffff;
    font-family: "Bebas Neue", sans-serif;
    font-size: 20px;
    width: 50%;
    border: none;
    border-bottom: 2px solid #ffffff;
}
#password-text{
    margin-top: 10%;
    font-size: 25px;
}
#password-field{
    background-color: #09090B;
    color: #ffffff;
    font-family: "Bebas Neue", sans-serif;
    font-size: 20px;
    width: 50%;
    border: none;
    border-bottom: 2px solid #ffffff;
}
#login-button{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    text-decoration: none;
    margin: 20%;
    height: 40px;
    width: 70%;
    background-color: #09090B;
    color: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 10px;
}

#login-button:hover{
    background-color: #ffffff;
    color: #09090B;
}