.navigationBar{
    display: flex;  
    align-content: center;
    align-items: center;
    flex-direction: row;
    height: 50px;
    font-family: "Changa One", sans-serif;
    font-size: 30px;
}

.leftNavbar{
    display: flex;
    align-items: center;
    align-content: center;
    width: 100%;
}

.rightNavbar{
    display: flex;
    flex-direction: row;
    align-content: center;
    width: 100%;
}

.dateButton{
    align-self: flex-start;
    margin-right: auto;
}

#date{
    font-family: "Changa One", sans-serif;
    font-size: 20px;
    background-color: #09090B;
    border: 0;
    color: #ffffff
}
#arrowLeft{
    font-family: "Changa One", sans-serif;
    font-size: 20px;
    background-color: #09090B;
    border: 0;
    color: #ffffff
}
#arrowRight{
    font-family: "Changa One", sans-serif;
    font-size: 20px;
    background-color: #09090B;
    border: 0;
    color: #ffffff
}

#arrowLeft:hover{
    transition: 100ms;
    border-right: 3px solid #ffffff;
    border-radius: 3px;
}
#arrowRight:hover{
    transition: 100ms;
    border-left: 3px solid #ffffff;
    border-radius: 3px;
}
#user{
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    font-family: "Changa One", sans-serif;
    background-color: #09090B;
    font-size: 30px;
    border: none;
    color: #ffffff;
}

button:hover{
    cursor: pointer;
}

#userImage{
    margin-left: 20px;
    width: 50px;
    height: 50px;
}