.workArea{
    margin-top: 15px;
    display: flex;  
    flex-direction: row;
    height: 90%;
}
#taskList{
    display: flex;
    flex-direction: row;
    width: 25%;
    border: 3px solid #ffffff;
    border-top-right-radius: 40px;
}
#tasks{
    font-family: "Changa One", sans-serif;
    height: fit-content;
    margin-left: 15px;
    margin-top: 10px;
    font-size: 30px;
    margin-right: auto;
}
#NewTask{
    transition: 0.3s ease-in-out;
    font-family: "Changa One", sans-serif;
    background-color: #09090B;
    color: #ffffff;
    border-radius: 40px;
    margin-top: 10px;
    border: 0;
    height: 40px;
    width: 40px;
    font-size: 30px;
    margin-left: auto;
    margin-right: 30px;
}
#NewTask:hover{
    transition: 0.2s;
    background-color: #ffffff;
    color: #09090B;
}
.workSpace{
    width: 75%;
}

