.login-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
    margin-left: 35%;
    margin-right: 35%;
    height: 80%;
    border-radius: 40px;
    font-family: "Changa One", sans-serif;
    background-color: #141516;
    border: 2px solid #ffffff;
}
#title{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 60px;
    font-family: "Changa One", sans-serif;
    width: 30%;
    height: 15%;
    margin-top: 2.5%;
    margin-bottom: none;
}

#log-image{
    width: 20%;
    height: 15%;
    margin-top: 5%;
    margin-bottom: 10%;
}
#alert-user{
    color: red;
    font-size: 15px;
    margin-top: 5px;
}
#alert-pass{
    color: red;
    font-size: 15px;
    margin-top: 5px;
}
#username-text{
    margin-top: 10%;
    margin-bottom: 10px;
    font-size: 25px;
}
#username-field{
    background-color: #09090B;
    color: #ffffff;
    outline: none;
    font-family: "Changa One", sans-serif;
    font-size: 25px;
    padding: 5px;
    padding-left: 10px;
    border-radius: 10px;
    border: 2px solid #ffffff;
}
#password-text{
    width: 50%;
    justify-content: left;
    margin-top: 10%;
    font-size: 25px;
    margin-top: 50px;
    margin-bottom: 10px;
}
#password-field{
    background-color: #09090B;
    color: #ffffff;
    outline: none;
    font-family: "Changa One", sans-serif;
    font-size: 25px;
    padding: 5px;
    padding-left: 10px;
    border-radius: 10px;
    border: 2px solid #ffffff;
}
#login-button{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    text-decoration: none;
    margin: auto;
    margin-top: 120px;
    margin-bottom: 5%;
    height: 40px;
    width: 100%;
    background-color: #09090B;
    color: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 10px;
}   

#login-button:hover{
    background-color: #ffffff;
    color: #09090B;
}

#register{
    display: flex;
    margin-left: 30%;
    color: rgb(167, 167, 167);
    
}