.navigation-bar{
    display: flex;  
    align-content: center;
    align-items: center;
    flex-direction: row;
    height: 50px;
    font-family: "Changa One", sans-serif;
    font-size: 30px;
}

.LeftNavbar{
    display: flex;
    align-items: center;
    align-content: center;
    width: 100%;
}

.RightNavbar{
    display: flex;
    flex-direction: row;
    align-content: center;
    width: 100%;
}

.DateButton{
    align-self: flex-start;
    margin-right: auto;
}

.UserButton{
    align-self: flex-end;
    margin-left: auto;
}

#date{
    font-family: "Changa One", sans-serif;
    font-size: 20px;
    background-color: #09090B;
    border: 0;
    color: #ffffff
}
#ArrowLeft{
    font-family: "Changa One", sans-serif;
    font-size: 20px;
    background-color: #09090B;
    border: 0;
    color: #ffffff
}
#ArrowRight{
    font-family: "Changa One", sans-serif;
    font-size: 20px;
    background-color: #09090B;
    border: 0;
    color: #ffffff
}
#ArrowLeft:hover{
    border-right: 1px solid #ffffff;
    border-radius: 3px;
}
#ArrowRight:hover{
    border-left: 1px solid #ffffff;
    border-radius: 3px;
}
#user{
    text-decoration: none;
    color: #ffffff;
}

.WorkArea{
    font-family: "Changa One", sans-serif;
    margin-top: 15px;
    display: flex;  
    align-content: center;
    align-items: center;
    flex-direction: row;
    height: 90%;
}

.LeftBar{
    width: 30%;
    height: 100%;
    border: 2px solid #ffffff;
    border-top-right-radius: 40px;
}
.RightBar{
    width: 100%;
    height: 100%;
}

#TaskList{
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    margin-bottom: 15px;
}
#Tasks{
    margin-left: 15px;
    margin-top: 10px;
    font-size: 30px;
    margin-right: auto;
}
#NewTask{
    font-family: "Changa One", sans-serif;
    border-radius: 40px;
    margin-top: 10px;
    border: 0;
    height: 40px;
    width: 40px;
    font-size: 30px;
    align-self: flex-end;
    margin-left: auto;
    margin-right: 40px;
}