#changePasswordAction{
    display: none;
    position: fixed; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background-color: #202020;
    color: white;
    font-family: "Changa One", sans-serif;
    width: auto;
    padding: 15px;
    font-size: 20px;
    z-index: 120;
}

#TextChangePassword{
    font-size: 25px;
    align-self: center;
    color: white;
}

#newPassword{
    background-color: #09090B;
    color: white;
    outline: none;
    font-family: "Changa One", sans-serif;
    margin-top: 20px;
    font-size: 20px;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 10px;
    border: 2px solid #ffffff;
}

#changePasswordAction > #buttons{
    display: flex;
    flex-direction: row;
}

#changePasswordAction > #buttons > #cancel, #change{
    transition: 0.3s ease-in-out;
    background-color: #303030;
    color: white;
    border: 0;
    border-radius: 15px;
    font-family: "Changa One", sans-serif;
    font-size: 20px;
    border-radius: 15px;
    padding: 10px;
    padding-left: 50px;
    padding-right: 50px;
    margin: 20px;
}

#changePasswordAction > #buttons > #cancel:hover, #change:hover{
    transition: 0.5s;
    background-color: #454545;
}
